//reset
// @import '~ress/ress.css';

//plugin
@import '~modaal/dist/css/modaal.scss';

@import "_library/_animation";
@import "_library/_colors";
@import "_library/_fonts";
@import "_library/_mixin";
@import "_library/_localmixin";
@import "_library/_typo";

@import "_components/_icon";
@import "_components/_button";
@import "_components/_form";
@import "_components/_tab";
@import "_components/_tag";
@import "_components/_list";
@import "_components/_table";
@import "_components/_header";
@import "_components/_layout";
@import "_components/_footer";
@import "_components/_nav";
@import "_components/_content";
@import "_components/_page";

html{
    //font-family:MS PGothic,Arial,Hiragino Kaku Gothic ProN,Osaka,sans-serif ;
    font-family: YuGothic,'Yu Gothic','Yu Gothic UI','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: map-get($_font-size, md);
    margin: 0;
    padding: 0;
}
html { scroll-behavior: smooth;}
body{
    background-color: #fff;
    color: $color-black;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.only-sp {
    @include mq(sm, min){
        display: none;
    }
}
.only-pc {
    @include mq(sm, max){
        display: none;
    }
}

img{
    height: auto;
}

// 三角形
// {
// width: 0;
// height: 0;
// border-style: solid;
// border-width: 0 166px 162px 0;
// border-color: transparent #ffffff transparent transparent;
// }
/*============
nav
=============*/
nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 388px;
    background: #0cbbd0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    right: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 110px 0;
    margin: 0 auto 0 64px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    // border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    font-size: 26px;
    display: block;
    color: #fff;
    padding: 0;
    text-decoration: none;
    transition-duration: 0.2s;
    line-height: 1;
    margin: 0 0 34px;
  }
  nav .inner ul li a span{
    font-size: 13px;
    line-height: 2.4;
  }
  nav .inner ul li a:hover {
    // background: #e4e4e4;
    opacity: 0.8;
    cursor: pointer;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn::after{
    content: '';
    width: 0;
    top: 0;
    display: block;
    margin: -30px -0 0px -100px;
    height: 0;
    border-style: solid;
    border-width: 0px 160px 162px 0px;
    border-color: transparent #fff transparent transparent;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: -10px;
    width: 48px;
    height: 3px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 0px;
    width: 34px;
    left: -3px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: -2px;
    width: 34px;
    left: -2px;
  }
  .open .toggle_btn span {
    background-color: #000;
  }
  .open .toggle_btn span:nth-child(1) {
    left: -2px;
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-18px) rotate(315deg);
    transform: translateY(-18px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  /*============
  main
  =============*/
  main {
    padding: 50px;
  }
  main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }