@import "_library/_colors";
@import "_library/_mixin";
@import "_library/_typo";


.section {
    &__side {
        display: flex;
        align-items: center;

        hr {
            width: 54px;
            height: 1px;
            margin: 0;
            padding: 0;
            border: 0;
            background-color: #fff;
        }

        .blue-bg {
            background-color: #0cbdd1;
            color: #0cbdd1;
        }

        .blue-p {

            color: #0cbdd1;
        }

        div {
            width: 7px;
            height: 7px;
            background-color: #fff;
            margin: 0 8px;
        }

        p {
            color: #fff;
            font-size: 14px;
            margin: 0;
        }
    }

    &__top {
        height: 100vh;
        max-height: 840px;
        position: relative;
        background-size: cover;
        background-position: top , center;
        background-image: url(/assets/img/top_bg.png);
        &__logo{
            max-width: 88px;
            position: absolute;
            width: 100%;
            margin: 30px 0 0 30px;
        }
        img {
            width: 100%;
        }

        
    }

    &__news {
        margin: -160px 0 -165px;
        position: relative;

        &__inner {
            justify-content: center;
            display: flex;
            background-color: #fff;
            max-width: 1200px;
            margin: 0 auto;
            padding: 70px 0 20px;
        }

        &__tit {
            margin: 0 0 0 34px;

            h2 {
                font-family: Barlow;
                font-size: 46px;
                font-weight: bold;
                color: #10bcd0;
                line-height: 1;
                margin: 0 0 18px;
            }

            hr {
                width: 47px;
                height: 2px;
                margin: 0;
                padding: 0;
                border: 0;
                background-color: #10BCD0;
            }

            p {
                font-size: 16px;
                font-weight: normal;

            }
        }

        &__headline {
            max-width: 820px;
            width: 100%;
            padding: 0;
            margin: 0 0 0 100px;

            li {
                display: flex;
                align-items: center;
                margin: 30px 0 0;
                padding: 0 0 30px;
                border-bottom: 1px #e9e9e9 solid;

                h3 {
                    margin: 0;
                    font-size: 1.6rem;
                }

                p {
                    margin: 0;
                    font-size: 1.7rem;
                }
            }

            li:first-child {
                margin: 0;
            }

            li:last-child {
                border: none;
            }

            &__tag {
                background-color: #d1d1d1;
                width: 90px;
                height: 24px;
                margin: 0 25px 0 22px;

                p {
                    text-align: center;
                    font-size: 13.5px;
                    display: block;
                    color: #fff;
                    margin: 0;
                    line-height: 1.4;
                }

                &__gr {
                    background-color: #4AC459;
                }

                &__or {
                    background-color: #F7A52B;
                }

                &__pu {
                    background-color: #B537BD;
                }
            }
        }
    }

    &__about {
        color: #fff;
        padding: 216px 0 120px;
        background-image: linear-gradient(to top, #ff693b, #fe9446);

        &__lead {
            max-width: 1188px;
            margin: 40px auto 80px;
            display: flex;
            justify-content: space-between;

            &__left {
                max-width: 527px;
            }

            &__right {
                width: 100%;
                max-width: 590px;

                h2 {
                    line-height: 1;
                    font-size: 50px;
                    font-weight: normal;
                    margin: 0 0 52px;

                    span {
                        font-size: 54px;
                        font-weight: bold;
                        font-family: Barlow;
                    }
                }

                P {
                    margin: 0 0 0;
                    font-size: 16px;
                    line-height: 2.09;

                    span {
                        font-weight: bold;
                    }
                }
            }

            &__btn {
                margin: 50px 0 0;
                position: relative;

                a {
                    display: inline-block;
                    font-size: 20.5px;
                    max-width: 280px;
                    width: 100%;
                    text-align: center;
                    background-color: #fff;
                    color: #f19149;
                    text-decoration: none;
                    font-weight: 700;
                    padding: 21px 0 19px;
                    position: relative;
                }

                a:hover {
                    opacity: 0.8;
                }

                a::after {
                    position: absolute;
                    content: '';
                    transform: translate(-50%, -50%);
                    top: 50%;
                    right: 28px;
                    width: 12px;
                    height: 19px;
                    background-image: url(/assets/img/arrow__right.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

        }

        &__slider {
            background-color: #ffe7d8;
            width: 1200px;
            margin: 0 auto;
            padding: 0 0 50px;

            &__tit {
                text-align: center;

                img {
                    margin: 90px 0 60px;
                }
            }
        }
    }

    &__number {
        padding: 64px 0 120px;
        background-image: url(/assets/img/section__number__bg.png);

        &__tit {
            text-align: center;
            margin: 40px auto 0;

            p {
                font-size: 18px;
                color: #fff;
                margin: 46px;
            }
        }

        &__inner {
            max-width: 1200px;
            margin: 60px auto 0;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0;
                margin: 0;

                li {
                    text-align: center;
                    list-style: none;
                    padding: 48px 0 0;
                    margin: 0 0 15px;
                    width: calc((100% - 30px)/ 3);
                    max-width: 390px;
                    height: 100vw;
                    max-height: 392px;
                    background-image: url(/assets/img/section__number__content__bg01.svg);
                    background-position: top, center;
                    background-size: cover;

                    h4 {
                        font-size: 28px;
                        text-align: center;
                        color: #333;
                        margin: -20px auto 20px;
                    }
                }
            }

            .big {
                width: calc((((100% - 30px)/ 3)*2) + 15px);
                max-width: 795px;
                background-image: url(/assets/img/section__number__content__bg02.svg);
            }

            .back-img {
                background-position: bottom, center;
                background-image: url(/assets/img/buildings.png);
                background-repeat: no-repeat;
                text-align: center;

                img {
                    margin: 20px auto;
                }
            }

            .build-year {
                text-align: center;
                margin: 80px 0 0;
                line-height: 1;

                span {
                    font-size: 52px;
                }

                .num {
                    font-family: Roboto;
                    font-size: 132px;
                    color: #86cc32;
                }
            }

            .ratio {
                text-align: center;

                p {
                    font-size: 142px;
                    line-height: 1;
                    margin: 0;
                    color: #86cc32;
                }
            }

            .length {
                text-align: center;

                P {
                    line-height: 1;
                    font-size: 50px;
                    margin: 0 0 20px;

                    span {
                        font-size: 150px;
                        color: #86cc32;
                    }
                }
            }

            .old {
                &__inner {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 60px;
                }

                &__graph {
                    max-width: 284px;
                    position: relative;
                }

                p {
                    border: 1px solid #dcdcdc;
                    border-left: none;
                    border-right: none;
                    width: 300px;
                    font-size: 32px;
                    color: #86cc32;
                    line-height: 1;
                    display: flex;
                    align-items: center;

                    .old-num {
                        font-size: 170px;
                    }

                    .old-txt {
                        color: #333;
                        font-size: 45px;
                        align-self: flex-end;
                        margin: 0 0 20px;
                    }
                }
            }

            .time {
                text-align: center;

                P {
                    line-height: 1;
                    font-size: 50px;
                    margin: 0 0 20px;

                    span {
                        font-size: 150px;
                        color: #86cc32;
                    }
                }
            }

            .trip {
                width: 80%;
                height: 90%;
                margin: -30px auto 0;
            }

            .country {
                margin: 20px 0 0;
            }

            .trip_country {
                margin: 20px 0 0;
            }
        }
    }

    &__welfare {
        padding: 64px 0 120px;
        background-image: url(/assets/img/section__welfare__bg.png);

        &__tit {
            text-align: center;
            margin: 40px auto 0;
        }

        &__inner {}

        .mt-120 {
            margin-top: 120px;
        }

        &__content {
            &__subtit {
                &__inner {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 1200px;
                    margin: 80px auto 0;

                    &__lead01 {
                        max-width: 225px;
                    }

                    &__lead02 {
                        max-width: 380px;
                    }

                    h3 {
                        display: inline-block;
                        border: 1px solid #fff;
                        width: 100%;
                        padding: 16px 0;
                        text-align: center;
                        font-size: 28px;
                        line-height: 1;
                        color: #fff;
                        margin: 0 40px;
                    }

                    &::after {
                        content: '';
                        display: inline-block;
                        position: relative;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                    }

                    &::before {
                        content: '';
                        display: inline-block;
                        position: relative;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                    }
                }


            }

            &__txt {
                margin: -32px auto;
                padding: 80px 0 0;
                max-width: 1200px;
                border: 1px solid #fff;
                border-top: none;
                color: #fff;
                font-size: 18px;
                text-align: center;

                &__lead {
                    text-align: center;
                    line-height: 2.3;
                    margin: 0 0 80px;
                }

                h4 {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0 0 30px;
                }

                hr {
                    border-top: 1px solid #fff;
                    width: 60px;
                    margin: 0 auto 40px;
                }

                p {
                    font-size: 18px;
                    margin: 0 auto 80px;
                    line-height: 2.3;
                }

                &__flow-left {
                    text-align: left;
                    max-width: 900px;
                }
            }
        }
    }

    &__member {
        padding: 64px 0 120px;
        background-color: #e69f34;

        &__tit {
            text-align: center;
            margin: 40px auto 0;
        }

        &__inner {
            margin: 90px auto;

            &__flex {
                display: flex;
                justify-content: space-between;
                max-width: 1200px;
                margin: 0 auto;
            }

            &__txt-right {
                color: #fff;
                text-align: left;

                .name {
                    font-size: 38.5px;
                    font-weight: bold;
                    margin: 0 0 24px;
                    line-height: 1;
                }

                .name-eng {
                    font-family: Barlow;
                    font-size: 21.5px;
                    line-height: 1;
                    color: rgba(255, 255, 255, 0.6);
                }

                .movie-txt {
                    font-size: 19.5px;
                    margin: 0 0 28px;
                }
            }

            &__txt-left {
                text-align: right;
                color: #fff;

                .name {
                    font-size: 38.5px;
                    font-weight: bold;
                    margin: 0 0 24px;
                    line-height: 1;
                }

                .name-eng {
                    font-family: Barlow;
                    font-size: 21.5px;
                    line-height: 1;
                    color: rgba(255, 255, 255, 0.6);
                }

                .movie-txt {
                    font-size: 19.5px;
                    margin: 0 0 28px;
                }
            }

            &__role {
                display: inline-flex;
                align-items: center;
                border: 1px solid #fff;
                padding: 14px 33px 14px 24px;
                margin: 0 0 38px;

                p {
                    font-size: 20px;
                    margin: 0 20px 0 0;
                }

                p {
                    &:nth-child(2n) {
                        border-left: 1px solid #fff;
                        padding: 0 0 0 20px;
                        margin: 0;
                        text-align: left;
                    }
                }
            }
        }
    }

    &__message {
        padding: 64px 0 120px;
        background-image: url(/assets/img/section__message__bg.png);
        background-position: top, center;
        background-size: cover;

        &__tit {
            text-align: center;
            margin: 40px auto 0;
        }

        &__inner {
            display: flex;
            margin: 140px auto 70px;
            max-width: 1200px;
            justify-content: space-between;

            &__right {
                color: #fff;
                max-width: 530px;
                width: 100%;

                h4 {
                    margin: 0 0 60px;
                    font-size: 44px;
                    line-height: 1.6;
                }

                p {
                    font-size: 20px;
                    line-height: 1;
                    margin: 0 0 18px;
                }

                .name-eng {
                    font-family: Barlow;
                    font-size: 21.5px;
                    line-height: 1;
                    color: rgba(255, 255, 255, 0.6);
                    margin: 0 0 80px;
                }

                img {
                    margin: 0 0 20px;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    line-height: 1;

                    &:hover {
                        text-decoration: none;
                    }

                    img {
                        margin: 0;
                    }

                    p {
                        color: #fff;
                        font-size: 12.5px;
                        margin: -40px 0 0;
                    }
                }
            }
        }
    }

    &__flow {
        padding: 64px 0 120px;
        background-image: url(/assets/img/section__flow__bg.png);

        &__tit {
            text-align: center;
            margin: 40px auto 0;
        }

        &__inner {
            background-color: #fff;
            width: 100%;
            max-width: 1200px;
            margin: 90px auto 0;
            padding: 0 0 1px;

            &__tit {
                text-align: center;

                h2 {
                    color: #ed38cd;
                    border: solid 1px #ed38cd;
                    display: inline-block;
                    padding: 16px 56px;
                    font-size: 28px;
                    font-weight: bold;
                    line-height: 1;
                    margin: 66px 0 0;
                }
            }

            &__table {
                margin: 60px auto 80px;
                border: 1px solid #ebebeb;
                width: 100%;
                max-width: 1080px;

                table {
                    max-width: 920px;
                    margin: 80px auto;
                    border-collapse: collapse;
                }

                tbody {
                    tr {
                        vertical-align: top;

                        &:first-child {
                            td {
                                padding: 0 0 60px 30px;
                            }

                            th {
                                padding: 0 0 60px 100px;
                            }
                        }

                        &:last-child {
                            td {
                                border-bottom: none;
                            }

                            th {
                                border-bottom: none;
                            }
                        }
                    }

                    td {
                        font-size: 22px;
                        font-weight: bold;
                        padding: 60px 0 60px 30px;
                        border-right: 1px solid #E5E5E5;
                        border-bottom: 1px solid #ed38cd;
                        width: 275px;
                    }

                    th {
                        font-size: 18px;
                        padding: 60px 0 60px 100px;
                        border-bottom: 1px solid #ed38cd;
                        text-align: left;
                    }
                }

            }
        }

        &__inner {
            &__step {
                background-color: #fff;
                margin: 60px auto 0;
                border: 1px solid #ebebeb;
                width: 100%;
                max-width: 1200px;
            }
        }

        &__step {
            &__outer {
                max-width: 1080px;
                margin: 60px auto 80px;
            }

            &__inner {
                display: flex;
                height: 100vw;
                max-height: 86px;
            }

            &__left {
                max-width: 260px;
                width: 100%;
                background-color: #f05bd5;
                color: #fff;
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    line-height: 1;
                    text-align: center;
                    align-items: center;
                    margin: 0;

                    span {
                        font-size: 16px;
                    }
                }
            }

            &__right {
                width: 100%;
                background-color: #eeeeee;
                color: #333;
                font-size: 18px;
                display: flex;
                justify-content: start;
                align-items: center;

                p {
                    margin-left: 60px;
                    line-height: 1.6;
                    text-align: left;
                    align-items: center;
                    font-size: 16px;
                }
            }

            &__max {
                width: 100%;
                background-color: #f05bd5;
                color: #fff;
                font-size: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__arrow {
                width: 29px;
                height: 22px;
                background-image: url(/assets/img/step__arrow.png);
                margin: 30px auto;
                background-repeat: no-repeat;
            }
        }
    }

    &__entry {
        padding: 64px 0 120px;

        &__tit {
            text-align: center;
            margin: 20px auto 0;
        }
        &__inner{

        }
        &__qanda{
            text-align: center;
            a{
                border: 1px solid;
                display: inline-block;
                font-size: 20.5px;
                max-width: 500px;
                width: 100%;
                text-align: center;
                background-color: #fff;
                color: #f19149;
                text-decoration: none;
                font-weight: 700;
                padding: 21px 0 19px;
                position: relative;
                &:hover{
                    opacity: 0.8;
                }
                &::after{
                    position: absolute;
                    content: '';
                    transform: translate(-50%,-50%);
                    top: 50%;
                    right: 28px;
                    width: 12px;
                    height: 19px;
                    background-image: url(/assets/img/arrow__right.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
        &__links {
            display: flex;
            justify-content: space-between;
            max-width: 480px;
            margin: 70px auto 80px;
            &__sns {
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover{
                    opacity: 0.8;
                }
                img{
                    width: 46px;
                    height: 46px;
                    margin: 0 24px 0 0;
                }
                p{
                    font-family: Barlow;
                    font-size: 22px;
                    color: #333;
                }
            }
        }
        &__footage {
            max-width: 1080px;
            margin: 0 auto ;
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

}









// スライダー
.swiper-slide {
    padding: 0 0 80px;
}

.slider__inner {
    max-width: 926px;
    margin: 0 auto;
    text-align: center;

    h4 {}

    &__tit {
        color: #fff;
        font-size: 28px;
        padding: 12px 34px;
        display: inline-block;
        background: #f19149;
        margin: 0 0 50px;
        line-height: 1;
        font-weight: bold;

        p {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        img {}

        p {
            max-width: 470px;
            color: #666;
            text-align: left;
            font-size: 1.6rem;
            line-height: 2;
            margin: 23px 0 0;
        }
    }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 60px !important;
    color: #F19149 !important;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 60px !important;
    color: #F19149 !important;
    right: auto;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border-radius: 0 !important;
    background: none !important;
    border: 2px solid #F19149 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background: #F19149 !important;
}


// フォーム
.job-entry-form {
    margin-top: 50px;
    width: 680px;
    margin: 90px auto 0;
}

.job-entry-form dl dt {
    font-size: 16px;
    color: #333333;
    border-left: 6px solid #dbdbdb;
    padding-left: 15px;
    width: 180px;
    display: inline-block;
    margin-bottom: 25px;
    vertical-align: top;
    margin-top: 4px;
}

.job-entry-form dl dt span {
    background: #e5004f;
    color: #fff;
    font-size: 11px;
    border-radius: 14px;
    padding: 6px 9px;
    margin-left: 10px;
}

.job-entry-form dl dd {
    width: 360px;
    display: inline-block;
    margin-bottom: 25px;
    vertical-align: top;
}

.job-entry-form dl dd p {
    margin-bottom: 10px;
    font-size: 14px;
}

.job-entry-form dl dd label {
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.job-entry-form dl dd label input {
    margin-right: 5px;
}

.job-entry-form dl dd input[type="text"] {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}

.job-entry-form .privacy-box {
    background: #f8f7f7;
    font-size: 12px;
    padding: 35px;
}

.job-entry-form button {
    background: #01abcc;
    font-size: 22px;
    color: #fff;
    border: none;
    border-bottom: #0197be 4px solid;
    padding: 20px 0;
    width: 260px;
    text-align: center;
    border-radius: 6px;
    margin: 54px auto 74px auto;
    display: block;
}

.job-entry-form button.prev {
    background: #d2d2d2;
    border-bottom: #999 4px solid;
}

.job-entry-form button:hover {
    opacity: 0.7;
}

.job-entry-form input[type="file"] {
    border: 1px solid #d2d2d2;
    width: 100%;
    border-radius: 6px;
    padding: 7px;
    margin-bottom: 20px;

}

.job-entry-form select {
    font-size: 12px;
    width: 130px;

    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d2d2d2;
    background: #fff;
    background: url(/assets/img/icon_form_select.png) 90% 50% no-repeat;
    background: url(/assets/img/icon_form_select.png) 90% 50% no-repeat;
    background-size: 12px, 7px;

}

.job-entry-form dd span {
    margin: 0 10px;
    font-size: 16px;
}

.job-entry-form button img {
    margin-right: 10px;
}

.job-entry-form .privacy-box .title {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.job-entry-form-footer {
    background: #d2eff6;
    font-size: 11px;
    padding: 35px;
    width: 660px;
    margin: 0 auto;
}

.job-entry-form-btn form {
    display: inline-block;
    width: 45%;
    text-align: center;
}


.job-entry-form-head .sp {
    display: none;
}

@media only screen and (min-width : 220px) and (max-width : 768px) {
    .job-entry-form-head {
        margin-top: 20px;
    }

    .job-entry-form-head .sp {
        display: block;
    }

    .job-entry-form {
        width: 96%;
        margin-top: 30px;
    }

    .job-entry-form dl {
        margin-bottom: 0px;
    }

    .job-entry-form dl dt {
        width: 100%;
        margin-bottom: 10px;
    }

    .job-entry-form dl dd {
        width: 100%;
        margin-bottom: 20px;
    }

    .job-entry-form select {
        width: 120px;
        padding: 10px 5px !important;
    }

    .job-entry-form dl dd span {
        margin: 0 3px 0 5px;
        font-size: 12px;
    }

    .job-entry-form button {
        width: 100%;
        margin: 25px auto 30px;
        font-size: 15px;
        padding: 15px 0;
    }

    .job-entry-form button img {
        width: 15px;
        height: auto;
    }

    .job-entry-form-footer {
        width: 96%;
    }

}
// フォームend