//- サイト全体に関する情報はここへ記述
//- サイト名
- sitetitle = 'サイト名'
//- サイトURL
- siteurl =   'https://test.com'
//- サイト説明文
- sitedescription = 'descriptionを記入してください'
//- サイトキーワード
- sitekeywords = 'keywordを記入して下さい'

//- webp対応するかどうか
- webp = false;
//- 画像ディレクトリ
- imgdir = '/assets/img/';

//- twitterシェアメッセージ
- tweetMessage = ''
//- twitterシェアハッシュタグ-ハッシュタグのカンマ区切り。Hash,Tag,です
- hashtags=''
//- Twitterアカウント。「@twitterIdさんから」が追加される
- twitterId = ''
//- 関連するTwitterアカウント。
- related = ""

- share_twitter_url = `https://twitter.com/share?url=${siteurl}&text=${tweetMessage}&hashtags=${hashtags}`//- &via=${twitterId}&related=${related}`
- share_facebook_url = `https://www.facebook.com/share.php?u=${siteurl}`

//- GoogleMap API Key（必ず変更してください）
- googlemap_api_key = '1789237896'