//- GoogleAnalyticsのコード
//Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x")
script
    |window.dataLayer = window.dataLayer || [];
    |function gtag(){dataLayer.push(arguments);}
    |gtag('js', new Date());
    |gtag('config', 'UA-xxxxxxxx-x');