//- ヘッダ
// header
header.header
      #navArea
        nav
          .inner
            ul
              li
                a(href="#about") 
                  span About us
                  br
                  |TECDIAとは
              li
                a(href="#number") 
                  span Tecdia in numbers
                  br
                  |数字で見るテクダイヤ
              li
                a(href="#welfare") 
                  span Employee system and benefits
                  br
                  |社員制度や福利厚生
              li
                a(href="#member") 
                  span Employee introduction
                  br
                  |社員紹介
              li
                a(href="#message") 
                  span Message from the President
                  br
                  |社員メッセージ
              li
                a(href="#flow") 
                  span Application requirements / selection flow
                  br
                  |募集要項・選考フロー
              li
                a(href="#entry") 
                  span Entry
                  br
                  |エントリー

        div(class="toggle_btn")
          span
          span
          span
        #mask
