extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    p トップページサンプル
    ul
        for menu,index in samplemenu
            +mixinsample(menu, index)
    h2 タブ機能
    p 下記のようなコーディングでタブが機能します。
    div(style="background: #eee;padding: 20px")
        pre
            .
                .tab
                    input.tab__check(type="radio" name="tab" id="tab--1" checked)
                    - for (var i = 1; i < 4; i++)
                        input.tab__check(type="radio" name="tab" id="tab--"+(i+1))
                    ul.tab__list
                        li.tab__item
                            label.tab__link(href="#" for="tab--1") タブ1
                        li.tab__item
                            label.tab__link(href="#" for="tab--2") タブ2
                        li.tab__item
                            label.tab__link(href="#" for="tab--3") タブ3
                        li.tab__item
                            label.tab__link(href="#" for="tab--4") タブ4
                    .tab__body
                    - for (var i = 0; i < 4; i++)
                        .tab__content
                            p タブ !{i+1}
    .tab
        input.tab__check(type="radio" name="tab" id="tab--1" checked)
        - for (var i = 1; i < 4; i++)
            input.tab__check(type="radio" name="tab" id="tab--"+(i+1))
        ul.tab__list
            li.tab__item
                label.tab__link(href="#" for="tab--1") タブ1
            li.tab__item
                label.tab__link(href="#" for="tab--2") タブ2
            li.tab__item
                label.tab__link(href="#" for="tab--3") タブ3
            li.tab__item
                label.tab__link(href="#" for="tab--4") タブ4
        .tab__body
        - for (var i = 0; i < 4; i++)
            .tab__content
                p タブ!{i+1}
    hr
    h2 CSS矢印生成ツール
    p
        b getArw($color, $weight(light,medium,bold,bla), $rotate(top,bottom,right,left), $round(数値/false));
    .arw-1 疑似要素のContentとして使用出来ます。（何も指定しない場合、中間サイズの黒い下向き矢印になります）
    br
    .arw-2
        |background-imageとしても使用できます。(IE11のみ非対応)
        br
        |サイズや位置はbackground-size、background-positionで調整します。
    br
    .arw-3
        |色は自由に指定できます。（rgba非対応）矢印の太さは4種類（light/medium/bold/bla）、角丸のオンオフも可能です。サイズは要素のwidthで調整します。
        br
        |（角丸の具合は$round値で調整できます。あまり太らせすぎるとviewboxをはみ出してしまうので1〜7程度が無難です）
    .arw-3.arw-3--1
        b 上の矢印との違いは角丸設定の有無のみです。
    br
    .arw-4
        b ご自由にお使いください！
    hr

    h2 外部リンクアイコン生成ツール
    p
        b getblankicon($color, $round: true)
    p 外部リンク用のアイコンを出力します。使い方は矢印生成ツールと同じです。
    p: a.link.link--blank(href="http://idealump.com",target="_blank") IDEALUMP
    p: a.link.link--blank2(href="http://idealump.com",target="_blank") IDEALUMP

    hr
    
    h2 モーダル（modaal）
    p
        |使用しない場合app.jsの
        br
        |const modaal = require('modaal');
        br
        |を削除してください。
    a(href="https://source.unsplash.com/648x416", js-modaal) サンプル
    
    hr



    h2: a(href="validation.html") フォーム周り（長くなってきたので別ページ化しました）