extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- フォーム関連
    //- select2
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
block append end_of_body
    //- jQueryバリデーションと入力補助
    //- select2
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    //- ajaxzip3
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    //- autoKana（入力内容をカナ変換して指定のフォームへ自動入力）
    <script src="/assets/js/jquery.autoKana.js" charset="UTF-8"></script>
    //- jQueryvalidation
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" charset="UTF-8"></script>
    
    <script src="/assets/js/validation.js" charset="UTF-8"></script>
block contents
    //- コンテンツ本文
    h2 フォーム周り
    p tabキーを使用したアクセシビリティに対応しました。
    p スタイル周りを整理し、デザイン調整しやすい作りにしました。
    p
        |フロントエンド側でjQueryValidationを使ったバリデーションが行えるようになりました。
        br
        strong 必須にしたい
        |……必須にしたいinput/select/textareaにrequiredを設定してください。
        br
        strong 入力内容を制限したい
        |……入力内容を制限したいinput/select/textareaにjs-validate="ルール名"を設定してください。使用可能なバリデーションルールは
        a(href="https://jqueryvalidation.org/" target="_blank") jQuery-validate
        |またはvalidation.jsのエラーメッセージで確認できます。
        br
        |n文字以上など引数が必要な場合、ルール名:引数とコロン区切りで設定できます。
        br
        |rangelengthなどの引数に配列を指定する場合、|区切りにしてください。　例）js-validate="rangelength:5|10" で5〜10文字まで入力可能
        br
        strong 複数のバリデーションルールを設定したい
        |……セミコロン区切りで設定可能です　例）js-validate="number,maxlength:8" で数字のみ8文字まで入力可能
        br
        |その他使用可能なバリデーション及びカスタマイズについてはvalidation.jsにコメントを記述していますので確認ください。
        br
        a(href="https://jqueryvalidation.org/" target="_blank") jQuery-validateドキュメント
    p
        |バリデーションエラーのテキストは【span.error(data-error="フォームのnameプロパティ")】に出力されるようになっています。
        br
        |上記の命名ルールに沿ってdata-errorを指定していればタグの記述位置はどこでも動作します。
    
    form(method="get")
        dl.form
            .formitem
                dt
                    label.label 氏名
                    span.require ※
                dd
                    .inputwrapper
                        div
                            input.input(type="text", name="lastName", placeholder="姓", js-validate, required, js-autoKana, data-field="lastNameKana")
                            span.error(data-error='lastName-error')
                        span
                        div
                            input.input(type="text", name="firstName", placeholder="名", js-validate, required, js-autoKana, data-field="firstNameKana")
                            span.error(data-error='firstName-error')
            .formitem 
                p js-autoKanaとdata-field=""をつけるとdata-fieldで設定したnameを持つフォームへ入力した内容を自動でカナ変換して入力します。（予測変換には対応出来ません）
            .formitem
                dt
                    label.label フリガナ
                    span.require ※
                dd
                    .inputwrapper
                        div
                            input.input(type="text", name="lastNameKana", placeholder="セイ", js-validate="katakana", required)
                            span.error(data-error='lastNameKana-error')
                        span
                        div
                            input.input(type="text", name="firstNameKana", placeholder="メイ", js-validate="katakana", required)
                            span.error(data-error='firstNameKana-error')
            .formitem
                dt
                    label.label 生年月日
                    span.require ※
                dd
                    .inputwrapper
                        +dateinput()
                    span.error(data-error='birthday-error')
            .formitem 
                p
                    |error-label="xxx"を設定する事でエラー表示を1箇所にまとめる事ができます。
                    br
                    |上記では生年月日の年/月/日のエラーをbirthday-errorに出力しています。
            .formitem
                dt 
                    label.label ファイル
                dd 
                    input(name="picture" type="file", js-validate, data-validate-rule="{'accept': filetype, 'filesize': 10}")
            .formitem
                dt
                    label.label 郵便番号
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--zip
                        span 〒
                        input.input.input--zip(type="text", name="postNumber", js-validate, js-zenhan, js-ajaxzip, data-field="prefecture,address1" placeholder="0000000", required)
                    span.error(data-error='postNumber-error')
            .formitem 
                p 郵便番号検索にも対応しています。js-ajaxzipとdata-field="検索結果の反映先（,で区切る）"を設定してください。
            .formitem
                dt
                    label.label 都道府県
                    span.require ※
                dd
                    - var elem = 'prefecture'
                    select(name=elem, js-validate, required, js-select2, data-placeholder="選択してください" style="width:220px")
                        option(value="") -
                        option(value="8") 茨城県
                        option(value="9") 栃木県
                        option(value="10") 群馬県
                        option(value="11") 埼玉県
                        option(value="12") 千葉県
                        option(value="13") 東京都
                        option(value="14") 神奈川県
                    span.error(data-error=elem+"-error")
                    
            .formitem
                dt
                    label.label 市区町村
                    span.require ※
                dd
                    - var elem = 'address1'
                    input.input(type="text", name=elem, placeholder="-", required)
                    span.error(data-error=elem+"-error")

            .formitem
                dt
                    label.label 電話番号
                    span.require ※
                dd
                    - var elem = 'tel'
                    input.input(type="text", name=elem, placeholder="09011111111", js-validate="digits,maxlength:11" js-zenhan, required)
                    span.error(data-error=elem+"-error")
            .formitem 
                p js-zenhanで全角英数字を半角に自動変換します。
            .formitem
                dt
                    label.label メールアドレス
                    span.require ※
                dd
                    - var elem = 'email'
                    input.input(type="email", name=elem, placeholder="test@test.com", js-validate="email", js-zenhan, required)
                    span.error(data-error=elem+"-error")
            .formitem
                dt
                    label.label メールアドレス確認
                    span.require ※
                dd
                    - var elem = 'emailconfirm'
                    input.input(type="email", name=elem, placeholder="test@test.com", js-validate="email,equalTo:[name='email']", js-zenhan, required)
                    span.error(data-error=elem+"-error")

            .formitem 
                p equalToでメールアドレスなどの同一性チェックも行えます。
            .formitem
                dt
                    label.label ラジオボタン
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--radio
                        .radiowrapper
                            input.radio(type="radio", name="radio", id="radio01", value="1", js-validate, required)
                            label(for="radio01") 入力項目1入力項目1入力項目1
                        .radiowrapper
                            input.radio(type="radio", name="radio", id="radio02", value="2", js-validate, required)
                            label(for="radio02") 入力項目2入力項目2入力項目2
            .formitem
                dt
                    label.label チェックボックス
                    span.require ※
                dd
                    .inputwrapper.inputwrapper--check.inputwrapper--check2
                        .checkwrapper.checkwrapper--2
                            input.check(type="checkbox", name="q23", id="q2301", value="①TVCM",js-validate, required)
                            label(for="q2301") ①TVCM
                        .checkwrapper.checkwrapper--2
                            input.check(type="checkbox", name="q23", id="q2302", value="②TV番組",js-validate, required)
                            label(for="q2302") ②TV番組
                        .checkwrapper.checkwrapper--2.checkwrapper--note
                            input.check(type="checkbox", name="q23", id="q2319", value="⑲その他",js-validate, required)
                            label(for="q2319") ⑲その他
                            div.noteinputwrapper
                                label.etcformquest__label 具体的に
                                textarea.input(name="q23_etc", placeholder="⑲その他を選んだ方は具体的に記入ください。（最大100文字）")
                            span.error(data-error='q23_etc-error')
        div 
            //- submitボタンはinput/buttonどちらでも大丈夫です 
            input(type="submit" value="" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります")
            button(type="submit" data-send="送信確認画面へ" data-disabled="未入力の必須項目があります")
        
